<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>

</html>



<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- pagetitle -->
    <title>Hello, world!</title>
</head>

<body>
    <!-- pagetitle -->
    <h1>Hello, world!</h1>

    <!-- VueApp -->
    <div id="vueApp">

        <!-- hero lista -->
        <h2>HeroList</h2>
        <ul>
            <li v-for="hero in heroCollection">
                <span>{{ hero.name }}</span>
                <ul>
                    <li>id: {{ hero.id }}</li>
                    <li>description: {{ hero.description }}</li>
                </ul>
            </li>
        </ul>

        <!-- species lista -->
        <h2>SpeciesList</h2>
        <ul>
            <li v-for="species in speciesCollection">
                <span>{{ species.name }}</span>
                <ul>
                    <li>id: {{ species.id }}</li>
                    <li>description: {{ species.description }}</li>
                </ul>
            </li>
        </ul>

    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- scripts.js -->
    <script src="scripts.js"></script>

    <!-- init -->
    <script>
        let dS = new DataService();
        let vueApp = new Vue({
            el: '#vueApp',
            data: {
                heroCollection: [],
                speciesCollection: [],
            },
            created: function () {
                // herok feltöltése
                dS.Hero.GetAll().then((result) => {
                    this.heroCollection = result;
                });

                // fajok feltöltése
                dS.Scpecies.GetAll().then((result) => {
                    this.speciesCollection = result;
                });
            }
        });
    </script>

</body>

</html>